.btn {
    height: 64px;
}

.btn::before
{
    content: '';
    display: block;
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    z-index: -1;
    background: #ff0000;
    transition: width 400ms;
}

.btn:is(:hover, :focus)::before {
    width: 450px;
}